h1 , h2, span, a , footer,div {
    font-family: 'Vazirmatn', Tahoma, 'Ubuntu Mono', monospace;
}
p {
    text-align: justify;
    font-family: 'Vazirmatn', Tahoma, 'Ubuntu Mono', monospace;
}
code {
    font-family: 'Ubuntu Mono', monospace;
}
blockquote {
 font-size: 1.1em;
 	box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.0);
 }

p>img   {
/* 	flex-shrink: 0;
	margin: 20px;
	border: calc(8px + 0.2vw) solid transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
	background-size: cover;
	box-sizing: border-box;
		*/
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}
.twitter-tweet {
margin: 10px auto 10px;
}
